.ant-radio-group-solid
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background-color: #124dbb !important;
  border-radius: 4px;
}

.ant-radio-button-wrapper {
  border-radius: 4px !important;
}
