.geo-fence-card {
  .ant-switch {
    background-color: #d0021b;
  }
  .ant-switch-checked {
    background-color: #417505;
  }
}

.card-geo-fence-edit {
  .ant-switch {
    background-color: #d0021b;
  }
  .ant-switch-checked {
    background-color: #417505;
  }
}
